-# topic filter badge

.card.card-shadow
  .card-body{'data-controller' => 'init-ui-component'}
    %h5.fw-bold Problems
    - if @primary_tags.count > 0
      .row.align-items-center.g-2.mb-2
        .col-auto.d-flex.align-items-center
          Topic:
          %span.mi.text-info.ms-1{style: 'font-size: 1.1rem; cursor: help;', data: { bs: { toggle: 'tooltip', title: 'Click a topic button to filter problems. Click again to clear.', placement: 'top' } } } help_outline
        .col.d-flex.flex-wrap.align-items-center.gap-2
          - @primary_tags.each do |tag|
            - data_hash = { action: 'click->main#setActiveTopic',  bs: tag.description.present? ?  { toggle: 'tooltip', title: tag.description } : nil }
            - tag_style = "--tag-color: #{tag.color}; --tag-text-color: #{contrast_text_color(tag.color)};"
            %span.btn.btn-outline-secondary.btn-sm.rounded-pill.topic-badge{data: data_hash, style: tag_style}= tag.name
    .table-responsive
      %table#main_table.table.table-hover.align-middle{width: '100%'}
        %thead
          %tr
            %th.d-none.d-sm-table-cell No.
            %th.all Name
            %th.d-none.d-md-table-cell Full Score
            %th Best Score
            %th.d-none.d-lg-table-cell Latest Results
            %th.all
            %th.d-none
        %tbody{data: {controller: 'problem-name'}}
          - @numbering = 1
          / problem count = #{problems.count}
          = render partial: 'problem', collection: problems
