- if hint
  .card.card-shadow
    .card-body
      = simple_form_for hint, url: problem_hint_path(@problem,hint), wrapper: :horizontal_form, multipart: true do |f|
        .row{'data-controller': 'init-ui-component'}
          .col-12
            %h5.fw-bold.mb-3 Hint Detail
            = f.input :title
            = f.input :body, as: :text, input_html: { rows: 5 }
            = f.input :cost, label: 'Full score cost (Problem cap)', tooltip: 'This value will be subtracted from the full score of the problem'
            = f.input :point_cost, label: 'Current points cost (Currency)', tooltip: 'This value will be subtracted from the contestant current total points'
            = f.input :all_points, label: 'Cost All Points', wrapper: :horizontal_boolean
            = f.input :success_rate, label: 'Success Rate (%)', tooltip: 'Probability of getting the hint'
            = f.input :available_after, label: 'Available after (seconds)', tooltip: 'Number of seconds after contest start before this hint becomes available. Enter 0 or leave blank for immediate access.', input_html: { min: 0 }
            .row
              .col-sm-3
              .col-sm-9
                = f.button :submit, class: 'btn btn-primary'
- else
  .card.bg-body-tertiary.border-0
    .card-body.text-center.py-4
      %em.text-muted -- There is no hint for this problem. Click "Add" to add a hint. --
