-# require *ds* as a dataset object
%h5.my-2 Testcases
= form_with url: set_weight_dataset_path(ds), class: 'row row-cols-lg-auto g-3 align-items-center' do |f|
  %input{type: 'hidden', name: 'active_dataset_tab', value: @active_dataset_tab, data: {'bs-tab-target': 'activeTabInput'}}
  .col-12
    .form-check.d-inline-flex.align-items-center.gap-1
      Testcase config
      %a{href: 'https://github.com/cafe-grader-team/cafe-grader-web/wiki/Configuring-testcases', target: '_blank'} 
        %span.mi.md-18 help_center
  .col-12
    = text_field_tag :weight_param, nil, class: 'form-control'
  .col-12
    = f.submit 'Set', class: 'btn btn-primary'
  .col-12
    = link_to 'Delete All Testcases', testcase_delete_all_dataset_path(ds), data: {turbo: true, 'turbo-method': 'post', turbo_confirm: 'This will delete ALL testcases in this dataset. Are you sure?' }, class: 'btn btn-outline-danger'
%table.datatable.table-hover{style: 'width: 100%', data: {controller: 'row-reorder', 'row-reorder-url-value': testcase_reorder_dataset_path(ds, -123)}}
  %thead
    %tr
      %th #
      %th Codename
      %th Group
      %th Group Name
      %th Weight
      %th.text-end Action
  %tbody
    - last_group = nil
    - odd = true
    - ds.testcases.display_order.each.with_index do |tc,idx|
      - if tc.group != last_group
        - odd = !odd
        - last_group = tc.group
      %tr{class: (odd ? 'bg-secondary bg-opacity-25' : ''), id: "tc-#{tc.id}", data: {row_id: tc.id}, draggable: 'true'}
        %td
          .d-flex.align-items-center.gap-2
            %span.mi.text-secondary{style: 'cursor: grab;', data: {bs_toggle: 'tooltip', bs_title: 'Drag to reorder'}} drag_indicator
            = tc.num
        %td
          = tc.code_name
        %td
          = tc.group
        %td
          = tc.group_name
        %td
          = tc.weight
        %td.py-1
          .d-flex.gap-1.justify-content-end
            = button_to testcase_move_up_dataset_path(ds, tc), class: 'btn btn-outline-secondary border-0 p-1 btn-flex', title: 'Move Up', form: {data: {turbo: true}} do
              %span.mi arrow_upward
            = button_to testcase_move_down_dataset_path(ds, tc), class: 'btn btn-outline-secondary border-0 p-1 btn-flex', title: 'Move Down', form: {data: {turbo: true}} do
              %span.mi arrow_downward
            = button_to testcase_input_dataset_path(ds, tc), class: 'btn btn-outline-primary border-0 p-1 btn-flex gap-1', title: 'Download Input', form: {data: {turbo: false}} do
              %span.mi file_download
              %span.small In
            = button_to testcase_sol_dataset_path(ds, tc), class: 'btn btn-outline-primary border-0 p-1 btn-flex gap-1', title: 'Download Solution', form: {data: {turbo: false}} do
              %span.mi download
              %span.small Sol
            = button_to testcase_delete_dataset_path(ds, tc), class: 'btn btn-outline-danger border-0 p-1 btn-flex', title: 'Delete', form: {data: {turbo: true, 'turbo-confirm': 'Really delete? This is very hard to undo' }} do
              %span.mi delete
%h4.mt-5 Import testcases
- if @errors
  .alert.alert-danger
    There are following errors
    %ul
      - @errors.each do |msg|
        %li= msg
- if local_assigns[:updated]
  .alert.alert-info.alert-dismissible
    = updated
    %button.btn-close{data: {'bs-dismiss': :alert}}

.row
  .col-12
    = simple_form_for :import, url: import_testcases_problem_path(@dataset.problem), html: {multipart: true}, wrapper: :horizontal_form do |f|
      %input{type: 'hidden', name: 'active_dataset_tab', data: {'bs-tab-target': 'activeTabInput'}}
      = f.input :file, label: 'ZIP file', as: :file, wrapper: :horizontal_file
      = f.input :input_pattern, input_html: { value: '*.in' }
      = f.input :sol_pattern, input_html: { value: '*.sol' }
      = f.input :target, label: "Import to dataset",  collection: [['As a new dataset','new'],['Into the selected dataset','replace']], checked: :new,  as: :radio_buttons, wrapper: :horizontal_collection, input_html: {onclick: 'update_import_target()'}
      = f.input :dataset, collection: @dataset.problem.datasets, selected: @dataset.problem.live_dataset, wrapper: :horizontal_select
      = f.button :submit, value: 'Import', class: 'btn-primary'
- if @log
  .row
    .col-sm-12
      %h4 Import log
      %pre.import-log
        = @log.join("\n")

:javascript
  function update_import_target() {
    $('#import_dataset').prop('disabled',
      $('input[name="import[target]"]:checked').val() == 'new'
    );
  }

  update_import_target()
