= turbo_stream.append 'js-response' do
  :javascript
    const showSwitch = document.getElementById('group-member-rename-switch');
    if (showSwitch) {
      showSwitch.checked = #{@group.allow_user_change_name?};
      showSwitch.disabled = false;
    }
    const showBadge = document.getElementById('group-member-rename-badge');
    if (showBadge) {
      showBadge.className = #{@group.allow_user_change_name?} ? 'badge bg-success' : 'badge bg-secondary';
      showBadge.textContent = #{@group.allow_user_change_name?} ? 'Yes' : 'No';
    }
- if @toast
  = turbo_stream.append 'toast-area', partial: 'toast', locals: {toast: @toast}
