= turbo_frame_tag "statistics_content" do
  .container-fluid.mt-4{data: {controller: 'init-ui-component'}}
    .d-flex.justify-content-between.align-items-end.mb-3
      .d-flex.flex-column.gap-1
        %small.text-secondary.text-uppercase.fw-bold.ls-1 Report
        %h2.fw-bold.text-dark.mb-0 Statistics
    
    = form_with url: extended_stat_report_path, method: :get, data: { controller: "report-filter", turbo_frame: "statistics_content" } do
      .card.card-shadow.mb-4
        .card-body.row.g-3.align-items-end
          .col-md-3
            = label_tag :since_datetime, "Since", class: "form-label fw-bold"
            = text_field_tag :since_datetime, params[:since_datetime], class: "form-control tempus-dominus", placeholder: "DD/MMM/YYYY HH:MM", data: { 'td-template': 'datetime' }, readonly: true
          .col-md-3
            = label_tag :until_datetime, "Until", class: "form-label fw-bold"
            = text_field_tag :until_datetime, params[:until_datetime], class: "form-control tempus-dominus", placeholder: "DD/MMM/YYYY HH:MM", data: { 'td-template': 'datetime' }, readonly: true
          .col-md-3
            = label_tag :language_id, "Language", class: "form-label fw-bold"
            = select_tag :language_id, options_from_collection_for_select(@languages, :id, :pretty_name, params[:language_id]), { include_blank: "All Languages", class: "form-select" }
          .col-md-3
            .form-check.form-switch.mb-2
              = check_box_tag :group_mode, '1', params[:group_mode] == '1', class: "form-check-input", id: "group_mode_toggle", data: { action: "change->report-filter#submit" }
              = label_tag :group_mode_toggle, "Group Mode", class: "form-check-label fw-bold ms-2"

      = render 'problem_select_extended'
      
      .row.mb-4
        .col-12
          = submit_tag "Apply Filters", class: "btn btn-primary btn-lg w-100 shadow-sm fw-bold"

    .row.g-4
      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-primary.text-white.fw-bold 
            %i.mi.mi-whatshot.me-2
            Most Effort (Submissions)
          .card-body.p-0
            %ul.list-group.list-group-flush
              - @most_effort.each_with_index do |(id, count), i|
                %li.list-group-item.d-flex.align-items-center.gap-2
                  %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                  .flex-grow-1.text-truncate
                    - if params[:group_mode] == '1'
                      = link_to (@most_effort_groups[id]&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    - else
                      = link_to (@most_effort_users[id]&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                  %span.badge.bg-primary.rounded-pill= count

      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-success.text-white.fw-bold 
            %i.mi.mi-emoji-events.me-2
            First Bloods (Fastest to pass)
          .card-body.p-0
            %ul.list-group.list-group-flush
              - @first_bloods.each_with_index do |(id, count), i|
                %li.list-group-item.d-flex.align-items-center.gap-2
                  %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                  .flex-grow-1.text-truncate
                    - if params[:group_mode] == '1'
                      = link_to (@first_bloods_groups[id]&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    - else
                      = link_to (@first_bloods_users[id]&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                  %span.badge.bg-success.rounded-pill= count

      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-info.text-white.fw-bold 
            %i.mi.mi-trending-up.me-2
            Score Growth
          .card-body.p-0
            - if @since_time && @until_time
              %ul.list-group.list-group-flush
                - @score_growth.each_with_index do |(id, growth), i|
                  %li.list-group-item.d-flex.align-items-center.gap-2
                    %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                    .flex-grow-1.text-truncate
                      - if params[:group_mode] == '1'
                        = link_to (@score_growth_groups[id]&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                      - else
                        = link_to (@score_growth_users[id]&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    %span.badge.bg-info.rounded-pill= "+#{growth.to_i}"
            - else
              .p-4.text-center.text-muted Please select 'Since' and 'Until' dates to view score growth.

      .col-12
        .alert.alert-info.d-flex.align-items-center.gap-2.mb-0.p-3.border-0.shadow-sm
          %span.mi info
          %span.small
            %strong Note:
            Most Efficient Coder (Shortest Code), Fastest Code (Least Runtime), and Least Memory Used are calculated only for problems that are
            %strong not "output-only"
            (require compilation).

      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-warning.text-dark.fw-bold 
            %i.mi.mi-compress.me-2
            Most Efficient Coder (Shortest Code)
          .card-body.p-0
            %ul.list-group.list-group-flush
              - @least_chars.each_with_index do |(id, data), i|
                %li.list-group-item.d-flex.align-items-center.gap-2
                  %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                  .flex-grow-1.text-truncate
                    - if params[:group_mode] == '1'
                      = link_to (Group.find_by(id: id)&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    - else
                      = link_to (User.find_by(id: id)&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                  %span.text-muted.small.flex-shrink-0= "(#{data[:solved]} solved) #{number_with_delimiter(data[:value])} bytes"

      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-danger.text-white.fw-bold 
            %i.mi.mi-speed.me-2
            Fastest Code (Least Runtime)
          .card-body.p-0
            %ul.list-group.list-group-flush
              - @fastest_runtime.each_with_index do |(id, data), i|
                %li.list-group-item.d-flex.align-items-center.gap-2
                  %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                  .flex-grow-1.text-truncate
                    - if params[:group_mode] == '1'
                      = link_to (Group.find_by(id: id)&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    - else
                      = link_to (User.find_by(id: id)&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                  %span.text-muted.small.flex-shrink-0= "(#{data[:solved]} solved) #{number_with_delimiter(data[:value].round(0))} ms"

      .col-md-6.col-lg-4
        .card.card-shadow.h-100
          .card-header.bg-secondary.text-white.fw-bold 
            %i.mi.mi-memory.me-2
            Least Memory Used
          .card-body.p-0
            %ul.list-group.list-group-flush
              - @least_memory.each_with_index do |(id, data), i|
                %li.list-group-item.d-flex.align-items-center.gap-2
                  %span.badge.bg-light.text-dark{style: 'min-width: 2rem;'}= i + 1
                  .flex-grow-1.text-truncate
                    - if params[:group_mode] == '1'
                      = link_to (Group.find_by(id: id)&.name || "Group ##{id}"), group_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                    - else
                      = link_to (User.find_by(id: id)&.full_name || "User ##{id}"), stat_user_admin_path(id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                  %span.text-muted.small.flex-shrink-0= "(#{data[:solved]} solved) #{number_with_delimiter(data[:value])} KB"

    .row.mt-4
      .col-md-6
        .card.card-shadow.h-100
          .card-header.bg-dark.text-white.fw-bold 
            %i.mi.mi-check-circle.me-2
            Latest Passed Submissions
          .card-body.p-0
            .table-responsive
              %table.table.table-hover.m-0
                %thead.table-light
                  %tr
                    %th ID
                    %th User
                    %th Problem
                    %th Language
                    %th Time
                %tbody
                  - @latest_passed.each do |sub|
                    %tr
                      %td= link_to "##{sub.id}", submission_path(sub), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                      %td= link_to sub.user&.full_name, stat_user_admin_path(sub.user_id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                      %td= sub.problem&.name
                      %td= sub.language&.pretty_name
                      %td.text-muted.small= time_ago_in_words(sub.submitted_at) + " ago"
                      
      .col-md-6
        .card.card-shadow.h-100
          .card-header.bg-dark.text-white.fw-bold 
            %i.mi.mi-update.me-2
            Latest Submissions
          .card-body.p-0
            .table-responsive
              %table.table.table-hover.m-0
                %thead.table-light
                  %tr
                    %th ID
                    %th User
                    %th Problem
                    %th Score
                    %th Time
                %tbody
                  - @latest_sub.each do |sub|
                    %tr
                      %td= link_to "##{sub.id}", submission_path(sub), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                      %td= link_to sub.user&.full_name, stat_user_admin_path(sub.user_id), class: 'text-decoration-none', data: { turbo_frame: "_top" }
                      %td= sub.problem&.name
                      %td
                        - if sub.points.nil?
                          %span.badge.bg-secondary Processing
                        - elsif sub.points >= (sub.problem&.effective_full_score || 100)
                          %span.badge.bg-success= sub.points.to_i
                        - else
                          %span.badge.bg-warning.text-dark= sub.points.to_i
                      %td.text-muted.small= time_ago_in_words(sub.submitted_at) + " ago"
