-# this render one toast that should be append to a series of toast
-# local var 'toast', a hash, must be given and it is merge to toast_params
- toast_params = {body: 'Body placeholder',
  type: :notice, 
  title: nil, 
  subtitle: Time.zone.now.strftime("%H:%M:%S"), 
  autohide: true,
  errors: local_assigns.fetch(:errors,[]) }
- toast_params.merge!( local_assigns.fetch(:toast, {}))
- toast_type = toast_params[:type].to_sym == :notice ? :info : toast_params[:type].to_sym
- toast_header_class = "bg-#{toast_type}-subtle text-#{toast_type}-emphasis"
.toast.mb-1{"aria-atomic": true, "aria-live": :assertive, role: :alert, style: "background-color: var(--bs-body-bg); border-color: var(--bs-border-color);"}
  .toast-header.py-1{class: toast_header_class}
    %strong.me-auto= toast_params[:title]
    %small= toast_params[:subtitle]
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
  .toast-body.py-1{ class: (toast_header_class if toast_params[:type].to_sym != :notice), style: "color: var(--bs-body-color);"}
    = toast_params[:body].html_safe
    - if toast_params[:errors].any?
      %ul
        - toast_params[:errors].each do |error|
          %li= error.html_safe
:javascript
  // select unhide toast
  toast_elements = document.querySelectorAll('.toast:not(.hide)')
  arr = [...toast_elements]
  arr.map(toast_el => bootstrap.Toast.getOrCreateInstance(toast_el, {autohide: #{toast_params[:autohide]}} ).show())
